*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    
    background:url('images/background.png');
}
.card{
    width: 90%;
    max-width: 470px;
    padding: 40px 35px;
    background: rgba(255, 255,255, .1);
    backdrop-filter: blur(30px);
    color:#ffff;
    border: 2px solid rgba(255, 255, 255, .2);
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
}
.search input{
    border: 0;
    outline: 0;
    border-radius: 30px;
    height: 60px;
    background:rgba(255, 255, 255, .3);
    color: #222;
    padding: 10px 25px;
    margin-right: 16px;
    flex: 1;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background:rgba(255, 255, 255,.3);

}
.search button img{
    width: 16px;
    color: #222;
}
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width:40px;
    margin-right: 10px;

}
.humidity, .wind{
    font-size: 30px;
    margin-top: -6px;

}